body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff4d00;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.main-news, .secondary-news, .form-section {
    margin-bottom: 40px;
}

.main-news article img, .secondary-news article img {
    width: 100%;
    height: auto;
}

.secondary-news .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.secondary-news .news-grid article img {
    width: 100%;
    height: 200px; /* Atur tinggi gambar sesuai kebutuhan */
    object-fit: cover; /* Ini akan memastikan gambar memenuhi dimensi tanpa distorsi */
    border-radius: 5px;
}

form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #ff4d00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    background-color: #ff4d00;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
